a:link{
    color : white;
}

a:visited{
    color : grey;
}

/*.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}*/

table.input, table.select, table.textarea,table.button{
    color: #fff;
    background-color:silver;
    border-color: #6495ED;
    margin-top:20px;
}
input,select,textarea{
    color: #fff;
    background-color:silver;
    margin-top:20px;
}
.submit {
  color: #fff;
  background-color:#6495ED;
  margin-top:20px;
}

body
{
    background-image: url(fond.jpg);
    color: #6495ED;
}

header
{
    margin-top: 40px; 
}
footer
{
    color: #6495ED;
    text-align: center;
    border-width:2px;
    border-style:double;
    border-color:#6495ED;
    width: 600px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}
h1
{
    color: #6495ED;
    font-size: 60px;
    text-align : center;
    border-width:2px;
    border-style:double;
    border-color:#6495ED;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    
}
div
{
    text-align: center;
}

        
nav
{
    color: #6495ED;
}
